$primary_color_1:rgba(228, 130, 95, 1);
$primary_color_2:rgba(255, 211, 144, 1);
$text_color_1:rgba(18, 17, 39, 1);
$text_color_2:rgba(0, 0, 0, 0.8);
$accent_color:rgba(255, 244, 230, 1);
$white:rgba(255, 255, 255, 1);
